<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HOT GIRLS READ">
    <meta property="og:image" content="/meta.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HOT GIRLS READ</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/lpq0cyx.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>

    <div class="logo_text">
        <a href="/">HOT GIRLS READ</a>
    </div>

    <div class="submit">
        <a href="/submit">SUBMIT</a>
    </div>
    <div class="about">
        <a href="/about">ABOUT</a>
    </div>
    <div class="merch">
        <a href="/merch">MERCH</a>
    </div>
    <div class="list">
        <a href="/list">LIST</a>
    </div>

    <div class="about_container">
        <div class="centered-content">

            <h1>
                Creative Direction<br>
                Design<br>
                Web development<br>
                <a href="https://www.instagram.com/jipark0/">by Ji Park</a>
            </h1>
            <br><br>
            <h1>
                Art Direction <br>
                Creative Direction<br>
                Photography <br>
                <a href="https://www.instagram.com/1800_i_luv_you/">by Julissa Ramirez</a>
            </h1>


        </div>
    </div>


</body>

</html>