    <!-- <section class="panel">
            <div class="panel-content">
                <div class="panel-content" style="background-image: url('<%= imageUrl %>');">
                    <div class="panel-content">
                        <img src="<%= imageUrl %>">
                    </div>
            
            
                </div>
                </section> -->


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="HOT GIRLS READ">
        <meta property="og:image" content="/meta.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1024">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>HOT GIRLS READ</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
        <link rel="stylesheet" href="https://use.typekit.net/lpq0cyx.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>

    <body>
        <img src="logo.svg" alt="Logo" class="logo">
        <div class="submit">
            <a href="/submit">SUBMIT</a>
        </div>
        <div class="about">
            <a href="/about">ABOUT</a>
        </div>
        <div class="merch">
            <a href="/merch">MERCH</a>
        </div>
        <div class="list">
            <a href="/list">LIST</a>
        </div>

        <div class="wrap">
            <div class="top">
                <!-- Optional content for top section -->
            </div>

            <!-- <% const colors = ['#FF0000', '#05FF00', '#FF00F5', '#0029FF', '#FFE500']; %> -->

            <% if (images.length > 0) { %>
            <% images.reverse().forEach(imageUrl => { %>

            <img src="<%= imageUrl %>">



            <% }) %>
            <!-- <% } else { %>
        <p>No images found.</p>
        <% } %> -->



        </div>



        <script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js'>
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js'></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <!-- Include GSAP and ScrollToPlugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"></script>
        <!-- Include ScrollMagic -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
        <!-- Include the GSAP plugin for ScrollMagic -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
        <!-- Optionally include ScrollMagic debug tools -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js">
        </script>
        <script src="./script.js"></script>
    </body>

    </html>