<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOT GIRLS READ</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/lpq0cyx.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <style>
        body {
            background-color: black;
        }
    </style>

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FL7GFBG8LM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FL7GFBG8LM');
</script>
<body>

    <div class="logo_text">
        <a href="/" style="color:white">HOT GIRLS READ</a>
    </div>

    <div class="submit">
        <a href="/submit">SUBMIT</a>
    </div>
    <div class="about">
        <a href="/about">ABOUT</a>
    </div>
    <div class="merch">
        <a href="/merch">MERCH</a>
    </div>
    <div class="list">
        <a href="/list">LIST</a>
    </div>





    <div class="grid-container">





        <% if (images.length > 0) { %>
        <% images.forEach(imageUrl => { %>
        <div class="grid-item">
            <img src="<%= imageUrl %>" alt="Uploaded Image">
        </div>
        <% }) %>

        <% } %>

    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
</body>

</html>